UpgradeLog*.htm
UpgradeLog*.xml
*.cache
*.pdb
*.psess
*.suo
*.vsp
*.csproj.user
*.idea
*.properties
*.log
*.bak
*.sass-cache
*.tmp
*.user
licenses.licx
Backup
CCO
MessageClientTest
MessageServerTest
bin
obj
doxygen
TestResults
bin/
obj/
node_modules/
.vs
Documentation/DoxygenDocumentation/html/
External/build
External/ICSharpCode/ICSharpCode.AvalonEdit/*.tmp_proj
ITS.WRM.SFA/obj/
ITS.WRM.SFA.Droid/bin/
ITS.WRM.SFA.Droid/bin/Debug
ITS.WRM.SFA.Droid/bin/Debug/el
ITS.WRM.SFA.Droid/bin/Release
ITS.WRM.SFA.Droid/bin/Release/el
ITS.WRM.SFA.Droid/obj/
ITS.WRM.SFA.Model/bin/
ITS.WRM.SFA.Model/bin/Debug
ITS.WRM.SFA.Model/bin/Release
ITS.WRM.SFA.Model/obj/
ITS.WRM.SFA.Resources/bin/
ITS.WRM.SFA.Resources/obj/
ITS.WRM.SFA.Resources/bin/Debug
ITS.WRM.SFA.Resources/bin/Release



!*.dll
!*.pdb
/Deploy/

/packages/
ITS.WRM.SFA.Droid/Resources/drawable/trolley.png
ITS.WRM.SFA.Droid/Resources/drawable-xxxhdpi/trolley.png
ITS.WRM.SFA.Droid/Resources/drawable-xxhdpi/trolley.png
ITS.WRM.SFA.Droid/Resources/drawable-xhdpi/trolley.png
ITS.WRM.SFA.Droid/Resources/drawable-hdpi/trolley.png
ITS.WRM.SFA.Droid/Resources/drawable/warehouse.png
ITS.WRM.SFA.Droid/Resources/drawable-xxxhdpi/warehouse.png
ITS.WRM.SFA.Droid/Resources/drawable-xxhdpi/warehouse.png
ITS.WRM.SFA.Droid/Resources/drawable-xhdpi/warehouse.png
ITS.WRM.SFA.Droid/Resources/drawable-hdpi/warehouse.png
WrmSfa.7z
